<p id="notice"></p>
<h1>Books</h1>
<% @books.each do |book| %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>リーダブルコード</td>
      <td>より良いコードを書くための実践的なテクニック</td>
      <td>
        <a class="show_59853" href="/books/59853">Show</a>
      </td>
      <td>
        <a class="edit_59853" href="/books/59853/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_59853" rel="nofollow" data-method="delete" href="/books/59853">Destroy</a>
      </td>
    </tr>
    <tr>
      <td>トラブル知らずのシステム設計</td>
      <td>システム設計の要点を図解で説明してくれます</td>
      <td><a class="show_59854" href="/books/59854">Show</a></td>
      <td><a class="edit_59854" href="/books/59854/edit">Edit</a></td>
      <td><a data-confirm="Are you sure?" class="destroy_59854" rel="nofollow" data-method="delete" href="/books/59854">Destroy</a></td>
    </tr>
    <tr>
      <td>たのしいRuby</td>
      <td>Rubyの入門におすすめです</td>
      <td><a class="show_59855" href="/books/59855">Show</a></td>
      <td><a class="edit_59855" href="/books/59855/edit">Edit</a></td>
      <td><a data-confirm="Are you sure?" class="destroy_59855" rel="nofollow" data-method="delete" href="/books/59855">Destroy</a></td>
    </tr>
    <tr>
      <td>入門Git</td>
      <td>gitについての基本操作から内部構造まで解説してくれます</td>
      <td><a class="show_59856" href="/books/59856">Show</a></td>
      <td><a class="edit_59856" href="/books/59856/edit">Edit</a></td>
      <td><a data-confirm="Are you sure?" class="destroy_59856" rel="nofollow" data-method="delete" href="/books/59856">Destroy</a></td>
    </tr>
    <tr>
      <td>アルゴリズム図鑑</td>
      <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
      <td><a class="show_59857" href="/books/59857">Show</a></td>
      <td><a class="edit_59857" href="/books/59857/edit">Edit</a></td>
      <td><a data-confirm="Are you sure?" class="destroy_59857" rel="nofollow" data-method="delete" href="/books/59857">Destroy</a></td>
    </tr>
    <tr>
      <td>達人プログラマー</td>
      <td>プログラマ入門者は必読！</td>
      <td><a class="show_59858" href="/books/59858">Show</a></td>
      <td><a class="edit_59858" href="/books/59858/edit">Edit</a></td>
      <td><a data-confirm="Are you sure?" class="destroy_59858" rel="nofollow" data-method="delete" href="/books/59858">Destroy</a></td>
    </tr>
    <tr>
      <td>データベース実践入門</td>
      <td>効率的なSQL文を教えてくれます</td>
      <td><a class="show_59859" href="/books/59859">Show</a></td>
      <td><a class="edit_59859" href="/books/59859/edit">Edit</a></td>
      <td><a data-confirm="Are you sure?" class="destroy_59859" rel="nofollow" data-method="delete" href="/books/59859">Destroy</a></td>
    </tr>
  </tbody>
</table>
<h2>New book</h2>
<%= form_with model: Book do |f| %>
  <h4>Title</h4>
  <p>
  <%= f.text_field :title %>
  </p>
  <h4>Body</h4>
  <p>
  <%= f.text_area :body %>
  </p>

  <%= f.submit 'Create Book' %>
<% end %>